@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="padding-bottom:80px;">Ristorante da Luigi</h1>
    <img src="https://media.z-suite.it/hotelambasciatacagliari.com/public/Ristorante/FULL_081.jpg" style="width:80%;height:80%;">
</div>
