@model MenuViewModel
<h1>Modifica menu</h1>
@{
    ViewBag.Readonly = true;
}
<form method="post">
<partial name="_Form" model=Model />

<input type="submit" value="Salva Modifica" class="btn btn-primary" />
<input type="reset" value="Reset" class="btn btn-primary" />
<a class="btn btn-primary" asp-controller="Menu" asp-action="Index">Indietro</a>
</form>
